body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: black;
}

#logo {
    width: 40px;
    padding-right: 10px;
}

.texto {
    font-weight: bolder;
    color: darkgray;
}

.icono {
    color: black;
}

@media screen and (max-width:991px){
    .sec-quienes {
        display: none;
    }
}

.card-text {
    color: white;
}

.card-img-top {
    aspect-ratio: 5/4;
}

.form-label {
    font-style: oblique;
    color: darkgray;
}

.pie-de-pagina {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

